* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
   background-color:  rgb(53, 53, 228);
   width: 50px;
   border-radius: 5px;
   
}

body {
    margin: 50px;
    background-color: rgb(255, 255, 255);
}

main {
    background-color: rgb(232, 208, 254);
    padding: 50px;
}

input {
    padding: 5px;
}